/* who page */
.who-page {
  & figure {
    & img {
      display: block;
      margin: 0 auto;
    }
  }
  & .icon-list {
    margin: 16px 0;
  }
}

/* blog index */
.blog-index {
  & .post-preview.first .h-2 {
    background: #ff8400;
  }
}
