.browser-demo {
  margin: 20px;
  max-width: 756px;
}

.browser-frame {
  &::before {
    content: '';
    display: block;
    border-style: solid;
    --border-multiplier: 0.7;
    border-width: calc(79px * var(--border-multiplier))
      calc(103px * var(--border-multiplier)) 0
      calc(366px * var(--border-multiplier));
    border-image: url('./images/browser-top.png') 100% 206 0 732;

    @media (min-width: 509px) {
      --border-multiplier: 1;
    }
  }

  video {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 0 0 12px 12px;
  }
}
