.threading-diagram {
  margin: 20px;
  container-type: inline-size;
  color: #fff;
  font-family: sans-serif;
  line-height: 1;

  .rows {
    font-size: 3.4cqw;
    display: grid;
    grid-auto-flow: row;
    grid-auto-rows: max-content;
    gap: 0.2em;

    --padding: 0.9em;
    --border: 0.15em;
  }

  .row {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: max-content;
    gap: 0.2em;
  }

  .timeline-item {
    background: #ffc019;
    text-shadow: 0 0.08em 0.08em rgb(0 0 0 / 47%);
    padding: 0.6em 0.6em;
    box-sizing: border-box;
  }

  .render-item {
    background: #67a74e;
  }

  .main-thread-content {
    padding: var(--padding);
    padding-top: 0;
    border: var(--border) solid #fff;
    border-top: none;
    border-radius: var(--border);
  }

  .main-thread-top {
    display: grid;
    grid-template-columns: 1.2em max-content 1fr;
    gap: 0.3em;
    margin: 0 calc(var(--padding) * -1);

    &::after,
    &::before {
      content: '';
      display: block;
      height: var(--border);
      background: #fff;
    }
  }

  .main-thread-title {
    transform: translateY(calc(-50% + var(--border) / 2));
    height: calc(var(--padding) + var(--border));
    display: grid;
    align-items: center;
  }

  .other-thread {
    padding: 0 calc(var(--padding) + var(--border));
  }

  .main-thread + .other-thread {
    margin-top: 1em;
  }
}
